.expensefilter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
    background-color: #212529;
    padding: 20px;
    margin: 20px;
    height:200px;
    width: 800px;
}