.expensefilter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #2b8a3e;
    padding: 10px;
    margin: 10px;
}

.expensefilter p {
    font-weight: bold;
}

.expensefilter select {
    font-weight: bold;
    padding: 5px;
}